html, body, div, p, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
  
  .nav {
    background: #00205b;
    height: 60px;
  }
  
  .nav li {
    display: inline-block;
    list-style: none;
    padding: 20px; 
  }
  
  .nav li a {
    padding: 30px;
  }
  
  .nav li:hover {
    background: #3d6ec8;
    transition: background .3s;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
  }